.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.button {
  margin-left: 20px;
  height: 30px;
  width: 80px;
  border: 2px solid #ff0b37;
  color: #ff0b37;
  background-color: transparent;
  border-radius: 5px;
}
.title {
  font-size: 16px;
  font-family: 'Roboto';
}
